<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estabelecimentos - Kino Angola</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../assets/images/logomarca/KINO DESIGN (1).png" type="image/x-icon">

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
</head>

<body>
    <!-- ========================= CABEÇALHO ========================= -->
    <header class="text-bg-light sticky-top">
        <div class="d-flex align-items-center justify-content-between menudiv">
            <input type="checkbox" name="check" id="check">
            <label for="check" class="checkbtn">
                <i class='bx bx-menu nav_menu text-dark'></i>
            </label>
            <a href="../index.html" class="logo d-flex align-items-center justify-content-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="../assets/images/logomarca/KINO DESIGN (1).png" alt="Kino Angola" height="30">
                <h2 class="my-0 mx-1 d-flex align-items-center justify-content-center fw-semibold" style="font-size: 1.3em;">Kino Angola</h2>
            </a>
            <ul class="nav m-auto justify-content-center nav_list">
                <li class="nav_item"><a href="../index.html" class="nav_link text-dark ">Início</a></li>
                <li class="nav_item"><a href="estabelecimentos.html" class="nav_link text-dark ">Estabelecimentos</a></li>
                <li class="nav_item"><a href="sejamembro.html" class="nav_link text-dark ">Seja Membro</a></li>
                <li class="nav_item"><a href="contact.html" class="nav_link text-dark ">Contatos</a></li>
                <li class="nav_item"><a href="about.html" class="nav_link text-dark ">Sobre</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 extras_btn" role="search">
                <input type="search" class="form-control form-control-dark form_control" placeholder="Pesquisar..."
                    aria-label="Search">
            </form>
            <div class="text-end extras_btn">
                <a href="login.html" type="button" class="text-success btn btn-outline-success me-2">Login</a>
                <a href="register.html" type="button" class="text-success btn btn-outline-success ">Sign-up</a>
            </div>
        </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nome do Estabelecimento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- ========================= DETALHES DO ESTABELECIMENTO ========================= -->
                    <div class="container my-5">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../assets/images/qd new (1).png" class="img-fluid"
                                    alt="Nome do Estabelecimento">
                            </div>
                            <div class="col-md-6">
                                <h2>Detalhes do Estabelecimento</h2>
                                <p><strong>Tipo:</strong> Restaurante</p>
                                <p><strong>Localização:</strong> Luanda</p>
                                <p><strong>Descrição:</strong> Uma breve descrição do estabelecimento, incluindo o que
                                    ele oferece, horários de funcionamento, e outras informações relevantes.</p>

                                <h3>Avaliações</h3>
                                <div class="rating">
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star-half'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                                <p>Baseado em 120 avaliações.</p>

                                <h4>Comentários</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <strong>João Silva:</strong> Ótima comida e ambiente agradável.
                                    </li>
                                    <li>
                                        <strong>Maria Santos:</strong> Atendimento excelente, recomendo.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="botao_principal text-white"><i class='bx bx-heart'></i>Favoritar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================= LISTAGEM DE ESTABELECIMENTOS ========================= -->
    <div class="container my-5">
        <h1 class="text-center fw-bold text-body-emphasis mb-4">Nossos Estabelecimentos</h1>

        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-4">
                <input type="search" placeholder="Buscar por nome, tipo de comida, localização..." aria-label="Search"
                    class="form-control px-4">
                <button type="button" class="botao_principal text-white btn-lg px-4 me-sm-3">Pesquisar</button>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- Exemplo de Estabelecimento 1 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (1).png" class="card-img-top" alt="Nome do Estabelecimento 1">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star-half'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 1</h5>
                        <p class="card-text">Tipo: Restaurante</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=1" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- Exemplo de Estabelecimento 2 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (13).png" class="card-img-top" alt="Nome do Estabelecimento 2">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 2</h5>
                        <p class="card-text">Tipo: Bar</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=2" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- Exemplo de Estabelecimento 3 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (15).png" class="card-img-top" alt="Nome do Estabelecimento 3">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 3</h5>
                        <p class="card-text">Tipo: Café</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=3" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- Exemplo de Estabelecimento 4 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (12).png" class="card-img-top" alt="Nome do Estabelecimento 4">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star-half'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 4</h5>
                        <p class="card-text">Tipo: Restaurante</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=4" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- Exemplo de Estabelecimento 5 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (2).png" class="card-img-top" alt="Nome do Estabelecimento 5">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star-half'></i>
                            <i class='bx bx-star-half'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 5</h5>
                        <p class="card-text">Tipo: Bar</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=5" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- Exemplo de Estabelecimento 6 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (6).png" class="card-img-top" alt="Nome do Estabelecimento 6">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star-half'></i>
                            <i class='bx bx-star-half'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 6</h5>
                        <p class="card-text">Tipo: Café</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=6" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- Exemplo de Estabelecimento 7 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (4).png" class="card-img-top" alt="Nome do Estabelecimento 7">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star-half'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 7</h5>
                        <p class="card-text">Tipo: Restaurante</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=7" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- Exemplo de Estabelecimento 8 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (11).png" class="card-img-top" alt="Nome do Estabelecimento 8">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star-half'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 8</h5>
                        <p class="card-text">Tipo: Bar</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=8" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <!-- Exemplo de Estabelecimento 9 -->
            <div class="col">
                <div class="card">
                    <img src="../assets/images/qd new (8).png" class="card-img-top" alt="Nome do Estabelecimento 9">
                    <div class="card-body">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="favorite">
                            <i class='bx bx-heart'></i>
                        </div>
                        <h5 class="card-title">Nome do Estabelecimento 9</h5>
                        <p class="card-text">Tipo: Café</p>
                        <p class="card-text">Localização: Luanda</p>
                        <a href="detalhes-estabelecimento.html?id=9" class="botao_principal text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cultural mt-5" id="cultural">
        <div class="carrossel swiper">
            <h2 class="text-center my-5">Cultural</h2>
            <div class="card-wrapper">
                <ul class="card_list swiper-wrapper mb-3">
                    <li class="card_item swiper-slide">
                        <a href="#" class="card_link">
                            <img class="card_img" src="../assets/images/qd (13).png" alt="" srcset="">
                            <h5 class="card_title">Card title</h5>
                            <p class="card_text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <button class="card_btn" type="submit"><i class='bx bx-subdirectory-right'></i></button>
                        </a>
                    </li>
                    <li class="card_item swiper-slide">
                        <a href="#" class="card_link">
                            <img class="card_img" src="../assets/images/qd (1).png" alt="" srcset="">
                            <h5 class="card_title">Card title</h5>
                            <p class="card_text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <button class="card_btn" type="submit"><i class='bx bx-subdirectory-right'></i></button>
                        </a>
                    </li>
                    <li class="card_item swiper-slide">
                        <a href="#" class="card_link">
                            <img class="card_img" src="../assets/images/qd (6).png" alt="" srcset="">
                            <h5 class="card_title">Card title</h5>
                            <p class="card_text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <button class="card_btn" type="submit"><i class='bx bx-subdirectory-right'></i></button>
                        </a>
                    </li>
                    <li class="card_item swiper-slide">
                        <a href="#" class="card_link">
                            <img class="card_img" src="../assets/images/qd new (16).png" alt="" srcset="">
                            <h5 class="card_title">Card title</h5>
                            <p class="card_text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <button class="card_btn" type="submit"><i class='bx bx-subdirectory-right'></i></button>
                        </a>
                    </li>
                    <li class="card_item swiper-slide">
                        <a href="#" class="card_link">
                            <img class="card_img" src="../assets/images/qd (3).png" alt="" srcset="">
                            <h5 class="card_title">Card title</h5>
                            <p class="card_text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <button class="card_btn" type="submit"><i class='bx bx-subdirectory-right'></i></button>
                        </a>
                    </li>
                </ul>

                <div class="swiper-pagination"></div>
                <div class="swiper-slide-button swiper-button-prev"></div>
                <div class="swiper-slide-button swiper-button-next"></div>
            </div>
        </div>
    </div>

    <!-- ========================= RODAPE - Kino Angola ========================= -->
    <footer class="pt-5 px-3 bg-dark text-light">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Empresa</h5>
                <ul class="nav flex-column ">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Nossa História</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Missãp e Visão</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Equipe</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Parcerias</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Ajuda</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Suporte ao Cliente</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Guia de Usuário</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Termos e Privacidade</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Contecte-se</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Eventos</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">Descontos e
                            Promoções</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white-50">
                            <strong>kinoangolaoficial@gmail.com</strong>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Inscreva a sua empresa no nosso <strong> site</strong></h5>
                    <p>Envie-nos o seu e-mail para que possamos entrar em contato consigo</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Endereço de e-mail</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="botao_principal text-white" type="button">Inscrever</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2024 Kino Angola. Todos os direitos reservados.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter" />
                        </svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram" />
                        </svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <script src="../assets/js/scripts.js"></script>
    
</body>

</html>