<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Kino Angola</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../assets/images/logomarca/KINO DESIGN (1).png" type="image/x-icon">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-center py-4 gap-3">
            <a class="btn btn-lg btn-success" href="../index.html">Página Inicial</a>
            <a class="btn btn-lg btn-outline-success" href="register.html">Criar Conta</a>
        </div>
    </nav>

    <!-- ========================= FORMULÁRIO DE LOGIN ========================= -->
    <div class="container my-5">
        <h1 class="text-center fw-bold text-body-emphasis mb-4">Login</h1>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
                    <label for="floatingInput">Endereço de Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                    <label for="floatingPassword">Senha</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Lembrar-me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-outline-success" type="submit">Entrar</button>
                <hr class="my-4">
                <a href="register.html" class="nav-link"><small class="text-primary">Não tenho uma conta.</small></a>
            </form>
        </div>
    </div>


    <!-- Scripts -->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>